@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    
}
ul{
    display: flex;
    list-style-type: none;
    gap: 1rem;
    margin-left: auto;  
}
a{
    text-decoration: none;
    color: #E5E7EB;
}

.header,
.footer{
    background-color: #1f2937;
    
}
#header-main{
    font-size: 48px;
    color: #F9FAF8;
    font-weight:bolder;
    margin-bottom: 0px;

}
#header-secondary
{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0px;
}
#logo{
    font-size: 24px;
    color: #F9FAF8;
    
}
button,
.alarm{
    background-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
}


#info{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.quote{
    background-color: #E5E7EB;
}
.footer{
    color:#E5E7EB;
    text-align: center;
}

.container{
    display: flex;
    width: 900px;
    align-items: center;
    margin: auto;
    padding-bottom: 48px;
    
    
}
.information{
    text-align: center;
    
   
}
.sq,
.deer,
.wolf,
.bear{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
    margin-top: 24px;
}   
.animals{
    display: flex;
    justify-content: center;
   
}

.quote{
    display: flex;
    justify-content: center;
}
.q-conti{
    width: 800px;
    display: flex;
    flex-direction: column;
    padding: 42px;
    align-items: flex-end;
    
}
#q-text{
   font-weight: lighter;
   font-style: italic;
   font-size: 32px;
}
#q-person{
    font-weight: 900;
    
}

.alarm{
    display: flex;
    flex: 1;
    justify-content: center;
    width: 1000px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}
.alarm-box{
    display: flex;
    padding: 48px;
    gap: 14rem;
    align-items: center;
    
}

#alarm-button{
    width: 120px;
    border-width: 2px;
    font-weight: bold;
    height: 35px;
}
#alarm-head
{
    font-weight: bolder;
    font-size: 24px;
    
}
#alarm-head,
#alarm-body{
    margin: 0px;
    margin-left: 48px;
}